
main{
  height: 80vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

h4{
  color: rgb(7, 100, 140);
  font-size: 30px;
  text-align: center;
}

h2{
  font-size: 20px;
  text-align: center;
  color: #074862;
}
h3{
  font-size: 30px;
  text-align: center;
}


.slider{
  width: 100%;
  height: 80vh;
}