extend templates/template

block title
  title DnD
  script(src="http://code.jquery.com/jquery-latest.min.js")
  script(src="assets/js/lib/jquery.slides.min.js")
  script(src="assets/js/index.js")

block main
  .slider
    h4 Unidos por Emilia 
  
    .container
        .images#slides
          - var url ="./assets/img/slide/"  
          - var listImages = ["1.jpeg", "2.jpeg", "3.jpeg","4.jpeg", "5.jpeg"]
          for img in listImages
            img(src=url+img)
    .resumen
        h2 Desaparecio aproximadamente a las 12h30 del viernes 15 de diciembre en la ciudad de LOJA.
        h3 Tiene 10 años y fue vista por ultima vez a la salida de la escuela Zoila Alvarado
          
  

      
       


